treee() {
  tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}

# git: delete local & remote branch
gdb() {
  if [ "$1" != "" ]; then
    git branch -D $1
    git push origin --delete $1
    nah
  fi
}

# run phpunit tests
t() {
  if [ -f vendor/bin/phpunit ]; then
    vendor/bin/phpunit "$@"
  else
    phpunit "$@"
  fi
}

# open using Finder
o() {
  if [ $#-eq 0 ]; then
    open .;
  else
    open "$@";
  fi;
}

# upgrade node & npm
upnn() {
  sudo chown -R $USER:$GROUP ~/.npm ~/.config
  sudo chown -R $USER:$GROUP /usr/local/lib/node_modules

  sudo npm cache clean -f
  sudo npm install -g n
  sudo n stable

  sudo npm install -g npm

  echo "npm version: \033[0;33m$(npm -v)"
  echo "node version: \033[0;33m$(node -v)"
}

list_installed_packages() {
  brew leaves                > brew-list.txt
  brew cask list             > cask-list.txt
  npm list -g --depth=0      > npm-g-list.txt
  yarn global list --depth=0 > yarn-g-list.txt
}

# :)
[[ -f $HOME/dotfiles/local/.functions ]] && source $HOME/dotfiles/local/.functions
